body{
    margin-top: -30px;
    padding : 0px;

}

.content{
    height: 840px;
}

.colored{
    background-color: midnightblue;
}

.white{
    background-color: white;
}

.nav-item{
    display: inline-block;
    margin-left:2rem;
    margin-left:2rem;
}

nav{
    background-color: rgba(0,0,0,0.8);
    padding: 0.5rem;
    position: fixed;
    width: 100%;
}

a{
    color: yellow;
    text-decoration: none;
}

h1{
    width: 80%;
    padding-top: 200px;
    text-align: right;
    color: gold;
}

.card{
    display: inline-block;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    margin: 200px;
    margin-bottom: 50px;
    position: relative;
    width: 300px;
}

.image{
    height: 200px;
    opacity: 0.7;
    background-color: cyan;
}
.text{
    background: grey;
    padding: 20px;
}